.ui-layout-container {
	width: 1024px !important;
	margin: auto !important;
}

#header-logo {
	display: block;
	float: left;
	height: 130px;
	width: 160px;
	background-image: url(../resources/images/backgroundNovo.png);
}
#header-title {
	margin-top: 25px;
	margin-left: 250px;
	color: #990000;
	font-family: serif, "Times New Roman", Times;
	font-size: 30px;
}

#header-user {
	margin-top: 40px;
	margin-left: 600px;
	font-family: serif, "Times New Roman", Times;
	font-size: 12px;
}

#header-sistema .h2 {
	height: 25px;
	padding: 0;
}

.clear {
	clear: left;
}

.ui-layout-south.footer .ui-layout-unit-content {
	height: 22px;
	padding: 6px 10px;
	overflow: hidden !important;
}

.footer p {
	margin: 6px 12px;
	color: #990000;;
}

.footer p span {
	float: right;
}

.buttons {
	text-align: center;
}

.exibir-dados {
	text-align: left;
}

.divisor-vertical {
	height: 40px;
	margin: 0 9px;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #ffffff;
}

.left-label label {
	text-align: left;
}

.right-label label {
	text-align: right;
}

.center-label {
	text-align: center;
}

.show-label label {
	text-align: left;
	font-weight: bold;
}

.show-label span {
	text-align: left;
}

/*primefaces override /* Footer	:::::::::::::::::::::::::::::::::::: */
.ui-layout-center .ui-layout-unit-content.ui-widget-content {
	margin-bottom: 0;
}

.ui-layout-south.footer .ui-layout-unit-content {
	height: 22px;
	padding: 6px 10px;
	text-align: center;
}

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-dialog .ui-dialog-buttonpane {
	text-align: center !important;
}

.ui-selectonemenu {
	display: flex !important;
}

/*

.ui-panel-titlebar {
	text-align: center;
}

.ui-menubar {
	background: #030;
}

.ui-menu-list a {
	color: #fff;
}

.ui-menu-list ul a {
	color: #000;
}

.ui-menu-list a .ui-icon {
	background-image: url("../resources/images/ui-icons_ffffff_256x240.png");
}

.ui-state-hover .ui-icon {
	background-image: url("../resources/images/ui-icons_222222_256x240.png")
		!important;
}*/
